body{
    margin:0;
    padding:0;
}
.content table {
    margin: 0 auto; /* 讓表格置中 */
    border-collapse: collapse; /* 合併邊框 */
}

.content th,
.content td {
    /*border: 1px solid black; /* 添加框線 */
    padding: 8px; /* 設置儲存格內距 */
    /*text-align: center;*/
}
div table {
    width: 100%;
}

input[readonly]{
    background-color: grey;
}
h1{
    margin: 0;
    text-align: center;
}
hr{
    border: 0;
    padding: 2px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}
.profile_form{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#left_container{
    margin: 0;
    padding: 0;
    width: 60%;
    height: 80%;
}
#left_container{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
#reason_info{
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
}
#profile_info{
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
}
th{
    text-align: center;
    vertical-align: center;
    background-color: #2c3e50;
    color: white;
}
#reason_info td{
    background-color: #FFCC70;
    text-align: center;
}
#profile_info td{
    background-color: #EEBD89;
    text-align: center;
}
.button{
    margin-top: 15px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
#access{
    background-color: springgreen;
    color: black;
}
#access:hover{
    background-color: #20c997;
    color: white;
    transition-duration: 0.3s;
}
#deny{
    background: white;
    color: black;
}
#deny:hover{
    background-color: #b02a37;
    color: white;
    transition-duration: 0.3s;
}
#backtocensor{
    background: white;
    color: black;
}
#backtocensor:hover{
    background-color: #3498db;
    color: white;
    transition-duration: 0.3s;
}
.status.pending {
    color: rgb(0, 0, 0);
}
.status.approved {
    color: rgb(22, 176, 22);
}
.status.rejected {
    color: red;
}