.content table {
    margin: 0 auto; /* 讓表格置中 */
    border-collapse: collapse; /* 合併邊框 */
}

.content th,
.content td {
    /*border: 1px solid black; /* 添加框線 */
    padding: 8px; /* 設置儲存格內距 */
    /*text-align: center;*/
}
div table {
    width: 100%;
}

input[readonly]{
    background-color: grey;
}
h1{
    margin: 0;
    text-align: center;
}
hr{
    border: 0;
    padding: 2px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}
.profile_table{
    margin: 0;
    padding: 0;
    width: 60%

}
.buttonbox{
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 60px;
    text-align: center;
}
.leftbutton{
    margin: 0;
    padding: 0;
    width: 160px;
    height: 60px;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 20px;
    color: #0099CC;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.leftbutton:hover{
    background-color: #0099CC;
    color: white;
    cursor: pointer;
}
.rightbutton{
    margin-left: 100px;
    width: 160px;
    height: 60px;
    color: #2c3e50;
    background: transparent;
    border: 2px solid #2c3e50;
    border-radius: 20px;
    color: #2c3e50;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
}
.rightbutton:hover{
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
}